.title {
  width: 400px;
  margin: 10px;
  font-size: small;
  color: white;
  text-align: center;
  background-color: gray;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 auto;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.playField {
  display: grid;
  grid-template-rows: repeat(20,20px);
  grid-template-columns: repeat(10,20px);
  width: 200px;
  height: 400px;
  margin-left: 10px;
  border: gray;
}

.nextShapeField {
  display: grid;
  grid-template-rows: repeat(4,20px);
  grid-template-columns: repeat(4,20px);
  margin-bottom: 20px;
  border: gray;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid gray;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1px;
}

.rightElements {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;   
  justify-content: flex-start; 
  width: 160px;
  height: 120px;
  margin: 1px;
  font-size: small;
  border-top: 1px dotted gray;
}

.rightElementsTitle {
  position: absolute; 
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  margin: 2px; 
  font-size: small;
}

.nextShape {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 80px;
  margin-top: auto;
  font-size: medium;
}

.level {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 80px;
  margin-top: auto;
  font-size: xx-large;
}

.point {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 80px;
  margin-top: auto;
  font-size: xx-large;
}

.footer {
  margin-top: 5px;
  margin-left: 10px;
  font-size: xx-small;
}